.compareList-modal {
  overflow: scroll;
  display: grid;
  min-height: 150px;
  max-height: 500px;
}

.compareList-modal-footer {
  text-align: center;
}

.compareList-modal-item {
  display: flex;
  align-items: center;
}

.compareList-btnContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.compareList-btn {
  margin-right: 12px;
}

.compareList-total {
  display: flex;
  align-items: center;
  margin: 12px 6px;
}

.compareList-total-light {
  color: #1890ff;
}

.compareList-total-btn {
  margin: 0 12px;
}